@import 'mixins'

%font-raleway
    font-family: 'Raleway', sans-serif


.container-depoimentos
    @include flex(center, center, none)
    width: 100%
    height: 100%
    @extend  %font-raleway
    background: #f6f6f6
   
.sessao-depoimentos
    width: 80%
    @include flex(center, center, column)
    padding-top: 80px

.content-depoimentos
    width: 100%
    text-align: center

    & h1 
        font-size: 40px
        color: #535353

        & span
            color: #0f808c

    & p 
        font-size: 20px
        color: #535353
        margin-top: -15px

.carousel-container
    @include flex(center, none, none)
    width: 100%
    height: 65vh
    @media screen and(max-width: 800px)
        @include flex(center, center, column)
 
.carousel
    @include flex(none, none, row)
    width: 70%
    min-width: 300px
    height: 400px
    overflow-x: scroll
    overflow-y: hidden
    scroll-behavior: smooth
    @media screen and(max-width: 365px)
        min-width: 250px

.carousel::-webkit-scrollbar
    display: none    

.carousel-item
    width: 32.5%
    height: 100%
    flex: none
    margin-right: 10px
    overflow: hidden
    @media screen and(max-width: 800px)
        width: 48%
    @media screen and(max-width: 600px)
        width: 65%
    @media screen and(max-width: 500px)
        width: 100.2%
        margin: 0
    
    & img
        width: 100%
        height: 100%
        
        

.depoimento
    width: 100%
    height: 100%
    @include flex(center, center, row)
    margin-top: 100px
    margin-bottom: 100px
    @media screen and(max-width: 800px)
        flex-direction: column
        margin-top: 0

.content-depoimento
    width: 50%
    padding-right: 100px
    text-align: center
    @media screen and(max-width: 800px)
        width: 100%
        margin-bottom: 50px
        padding-right: 0

    & h1 
        font-size: 40px
        color: #535353
        @media screen and(max-width: 500px)
            font-size: 32px

        & span 
            color: #0f808c
    
    & p 
        font-size: 20px
        color: #535353
        @media screen and(max-width: 500px)
            font-size: 17px

.img-depoimento
    width: 25%
    min-width: 220px
    @media screen and(max-width: 800px)
        width: 40%

    & img
        width: 100%
        border-radius: 25px

.arrows
    width: 80px
    height: 100px
    @include flex(space-around, center, column)
    @media screen and(max-width: 800px)
        flex-direction: row

    & i 
        font-size: 20px
        background: #0f808c
        color: #fff
        padding: 7px 10px
        cursor: pointer

        &:hover
            background: #044e56